# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Rider
.idea/

# User-specific files
*.userprefs

# Build results of an ATL project
[Dd]ebugPublic/
[Rr]eleasePublic/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Publish output
publish/
